<div class="container-fluid homepage-intro">

    <div class="video-carousel">
        <div class="video-carousel-1">
            <video autoplay muted loop>
                <source src="{{ 'video1.mp4'|media }}" type="video/mp4">
            </video>
                <div class="homepage-carousel-text">
                    <img src="{{ 'cohab-logo-white2.svg' | media}}">
                    <span>About us</span>
                    <a href="/about" class="read_more_white">Read more</a>
                </div>
        </div>
        <div class="video-carousel-2">
            <video autoplay muted loop>
                <source src="{{ 'video2.mp4'|media }}" type="video/mp4">
            </video>
                <div class="homepage-carousel-text">
                    <img src="{{ 'cohab-logo-white2.svg' | media}}">
                    <span>Our Strategy</span>
                    <a href="/strategy" class="read_more_white">Read more</a>
                </div>
        </div>
        <div class="video-carousel-3">
            <video autoplay muted loop>
                <source src="{{ 'video3.mp4'|media }}" type="video/mp4">
            </video>
                <div class="homepage-carousel-text">
                    <img src="{{ 'cohab-logo-white2.svg' | media}}">
                    <span>People. Planet.<br> Partnership.</span>
                    <a href="/partnership" class="read_more_white">Read more</a>
                </div>
        </div>
        <div class="video-carousel-4">
            <video autoplay muted loop>
                <source src="{{ 'video4.mp4'|media }}" type="video/mp4">
            </video>
                <div class="homepage-carousel-text">
                    <img src="{{ 'cohab-logo-white2.svg' | media}}">
                    <span>Key Issues</span>
                    <a href="/key-issues" class="read_more_white">Read more</a>
                </div>
        </div>
    </div>

</div>
