title = "Key issues"
layout = "default"
url = "/key-issues/:id?|[a-zA-Z\-0-9]"
header_image = "key-issues.jpg"

[siteSearchInclude]


==

<?php
use Pensoft\Keyissues\Models\Data as Issues;

function onStart(){
    $this['issues'] = Issues::get();
    $this['issue'] = Issues::where('slug', $this->param('id'))->first();
    if($this['issue']){
        $this['is_detail_page'] = $this['issue'] ? true : false;
        $this['page_url'] = $this->pageUrl('');
    }
}
?>
==

{% component 'siteSearchInclude' %}

<div class="container">


{% if is_detail_page %}
<div class="row single-issue-item">

    <div class="go_back mt-2 mb-2">
        <a href="/key-issues">Back</a>
    </div>

    <div class="row">
        <div class="col-xs-12 issue-title">
            <h1 class="single-issue-title">{{issue.title}}</h1>
        </div>
        <div class="col-md-4 col-xs-12 issue-images">
            {% if issue.cover %}
            <img src="{{ issue.cover|crop_image|resize(340, auto, { mode: 'crop' }) }}" />
            {% endif %}
            {% if issue.images %}
                {% for img in issue.images %}
                    <img src="{{ img|crop_image|resize(340, auto, { mode: 'crop' }) }}" />
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="content">
                {{issue.description|raw}}
            </div>
        </div>
    </div>

    <div class="row middle-xs">
        <div class="col-xs col-md start-md center-xs share_container">
            <span class="share_label">Share</span>
            <a title="Share on LinkedIn" href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="pr p-linkedin normal"></a>
            <a title="Share on BlueSky" href="https://bsky.app/intent/compose?text={{page_url}}" class="pr p-bluesky small"  target="_blank"></a>
            <a title="Share on Facebook" href="https://www.facebook.com/sharer.php?u={{page_url}}" class="pr p-facebook small"  target="_blank"></a>
            <a title="Share on Twitter (X)" href="https://twitter.com/intent/tweet?url={{page_url}}" class="pr p-twitter small"  target="_blank"></a>
            <a title="Send via email" href="mailto:?subject={{issue.title}}&amp;body=Take%20a%20look%20at%20this%20website%3A%20{{page_url}}" class="pr p-mail small"  target="_blank"></a>
            <a title="Copy link" onclick="copyToClipboard('{{page_url}}');" href="javascript: void(0);" class="pr p-copy small"  target="_blank"></a>

        </div>
    </div>


</div>

{% else %}

    {% if issues.count %}

        <div class="issues-list">
            <div class="row">
                {% for issue in issues %}
                <div class="col-md col-xs-12">
                    <a class="issue-item" href="/key-issues/{{issue.slug}}">
                        <div class="issue-title">{{ issue.title|length > 80 ? issue.title|slice(0, 80)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : issue.title|replace({"&nbsp;": " ", ".": ". "})  }}</div>
                        <img src="{{ issue.cover.thumb(198, 105, {'mode': 'crop'})}}" alt="{{ highlight.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>


    {% endif %}


{% endif %}

</div>
